body {
	background: black;
  font-family: "Open Sans", sans-serif;
	color: white;
	font-size: 22px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 200px;
}

a {
	color: white;
	text-decoration: none;
}

em {
	color: #09d7d7;
	font-size: 120%;
	text-shadow: 3px 3px 0px #520000;
}

#container {
	margin: 0 auto;
	max-width: 860px;
}

#links {
	text-align: center;
	margin-bottom: 40px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#links a {
	padding: 0 5px;
}

img.logo {
	display: block;
	margin: auto;
	max-width: 512px;
	width: 100%;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "bebasneue_bold", sans-serif;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

h2 {
	font-size: 30px;
  display: inline-block;
}

h3 {
	font-size: 30px;
  display: inline-block;
}

.col-12 {
	padding-bottom: 60px;
}

.subtitle {
}

.small {
	max-width: 600px;
	display: block;
	margin: auto;
}

img {
	width: 100%;
}

video {
	border-radius: 50%;
	width: 100%;
}

@font-face {
	font-family: 'bebasneue_bold';
	src: url('bebasneue_bold.woff2') format('woff2'),
	url('bebasneue_bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@media screen and (min-width: 560px) {
}


canvas {
	position:fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.cropcircle {
}

.super{
	vertical-align: super;
	font-size: 15px;
}